<p id="notice"><%= notice %></p>

<h1>Audit Entries</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Resource</th>
      <th>From</th>
      <th>To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @audit_entries.each do |audit_entry| %>
      <tr>
        <td><%= audit_entry.user %></td>
        <td><%= audit_entry.resource %></td>
        <td><%= audit_entry.from %></td>
        <td><%= audit_entry.to %></td>
        <td><%= link_to 'Show', audit_entry %></td>
        <td><%= link_to 'Edit', edit_audit_entry_path(audit_entry) %></td>
        <td><%= link_to 'Destroy', audit_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Audit Entry', new_audit_entry_path %>
