<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @audit_entry.user %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @audit_entry.resource %>
</p>

<p>
  <strong>From:</strong>
  <%= @audit_entry.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @audit_entry.to %>
</p>

<%= link_to 'Edit', edit_audit_entry_path(@audit_entry) %> |
<%= link_to 'Back', audit_entries_path %>
